RewriteEngine on
Options -MultiViews


# Sets unhandled directories/files
#  /Themes/
#  /css/
#  /js/
#  /favicon.ico
#  /robots.txt
RewriteCond %{REQUEST_URI} !^/(Themes/|css/|js/|favicon.ico|robots.txt)
RewriteRule . index.php [L]


### Files to hide in unhandled directories ###

#  (non existent files)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

#  .php files
#RewriteCond %{REQUEST_FILENAME} \.php
#RewriteRule . index.php [L]

#  .inc files
RewriteCond %{REQUEST_FILENAME} \.inc
RewriteRule . index.php [L]

#  README
RewriteCond %{REQUEST_FILENAME} README
RewriteRule . index.php [L]
